
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

.custom-bg{
    background: #673ab7!important;
}

.list-group-item.active{
    background: #673ab7!important;
    border-color: #673ab7!important;
}

.discount-label{
   
    font-style: italic!important;
    text-decoration: line-through!important;
}


